[workspace]
members = [
    #"cloud-relay",
    "crdt",
    "wasm-ffi",
    ".",
]

[package]
name = "tlfs"
version = "0.1.0"
edition = "2021"

[profile.release]
lto = true

[dependencies]
anyhow = "1.0.44"
async-trait = "0.1.51"
bytecheck = "0.6.5"
ed25519-dalek = "1.0.1"
fnv = "1.0.7"
futures = "0.3.17"
libp2p-broadcast = "0.6.0"
log-panics = "2.0.0"
rkyv = "0.7.19"
sled = { git = "https://github.com/spacejam/sled" }
tlfs-crdt = { version = "0.1.0", path = "crdt" }
tracing = "0.1.29"
tracing-log = "0.1.2"
tracing-subscriber = "0.2.25"

[dependencies.libp2p]
version = "0.40.0-rc.2"
default-features = false
features = [
    "dns-async-std",
    "gossipsub",
    "mplex",
    "noise",
    "request-response",
    "tcp-async-io",
    "yamux",
    "websocket",
]

[dev-dependencies]
async-global-executor = "2.0.2"
async-std = { version = "1.10.0", features = ["attributes"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2.78"

[patch.crates-io]
#libp2p = { git = "https://github.com/wngr/rust-libp2p", branch = "wasm-support" }
libp2p = { git = "https://github.com/wngr/rust-libp2p", branch = "ow/usize-partialeq" }
libp2p-broadcast= { git = "https://github.com/wngr/libp2p-broadcast" }
