on:
  push:
    branches:
    - master
  pull_request:

name: tlfs

jobs:
  test:
    runs-on: self-hosted
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install rust toolchain
      uses: hecrj/setup-rust-action@v1

    - name: cargo test
      run: cargo test --all-features --workspace

  rustfmt:
    runs-on: self-hosted
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install rust toolchain
      uses: hecrj/setup-rust-action@v1
      with:
        components: rustfmt

    - name: cargo fmt
      run: cargo fmt --all -- --check

  clippy:
    runs-on: self-hosted
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install rust toolchain
      uses: hecrj/setup-rust-action@v1
      with:
        components: clippy

    - name: cargo clippy
      run: cargo clippy --workspace --examples --tests --all-features -- -D warnings

  dart-format:
    runs-on: self-hosted
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: dart format
      working-directory: dart
      run: dart format lib/tlfs.dart

  wasm:
    runs-on: self-hosted
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install rust toolchain
      uses: hecrj/setup-rust-action@v1

    - name: build
      working-directory: wasm-ffi
      run: NO_OPTIMIZE=1 ./build.sh

    - name: install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: wasm-pack test
      working-directory: wasm-ffi
      run: wasm-pack test --headless --chrome --firefox

  linux-capi-dart:
    runs-on: self-hosted
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install rust toolchain
      uses: hecrj/setup-rust-action@v1

    - name: install cargo-c
      run: cargo install cargo-c
      continue-on-error: true

    - name: install tlfs
      working-directory: capi
      run: cargo cinstall --prefix /opt/tlfs

    - name: dart pub get
      working-directory: dart
      run: dart pub get

    #- name: ffigen
    #  working-directory: dart
    #  run: dart run ffigen

    - name: dart test
      working-directory: dart
      run: dart test
      env:
        LD_LIBRARY_PATH: /opt/tlfs/lib
